/* @import "tailwindcss"; */
.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  height: 100dvh;
  width: 100dvw;
  font-synthesis: none;
  padding: 15px 30px;
}
input.primary {
  width: 100%;
  background: darkgray;
  border-radius: 128px;
  outline: none;
  border: none;
  font-size: medium;
  color: #1a1a1a;
  padding: 12px 24px;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
}

input:hover{
  background-color: gray;
}

input.send {
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  background: gray;
  border-top-left-radius: 128px;
  border-bottom-left-radius: 128px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  outline: none;
  border: none;
  font-size: medium;
  color: white;
  padding: 12px 24px;
}

.heading {
  font-size: 60px;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}